<div class="container">
  <div class="row justify-content-end align-items-center">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table ">
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td>
                <% if post.voted_by? current_user %>
                <%= link_to post_vote_path( post ), method: :delete do %>
                  <i class="fas fa-caret-down bigIcon"></i>
                <% end %>
                <% else %>
                <%= link_to post_vote_path( post ), method: :post do %>
                  <i class="fas fa-caret-up bigIcon"></i>
                <% end %>
              <% end %>
              </td>
              <td>
                <div><%= pluralize( post.votes.size, 'Votos') %></div>
              </td>
              <td>
                <div><%= pluralize(post.answers.size, 'Respuestas') %></div>
              </td>
              <td>
                <div>
                  <h5><span><%= link_to post.name, post_path(post), class: 'title' %></span></h5>
                  <p class="usernameSize">Preguntó <%= post.user.email %> hace <%= time_ago_in_words(post.created_at)%> </p>
                </div>
              </td>
              <td >
              <div>
              <% if user_signed_in? %>
                <% if current_user.id == post.user_id %>
                  <%= form_tag(post_path(post.id), method: :delete, data: { confirm: '¿De verdad deseas borrarlo?' }) do%>
                    <%= button_tag( class: "btn icon-t pull-right") do %>
                    <i class="far fa-window-close mediumIcon mx-auto"></i>
                    <% end %>
                  <% end %>
                  <%= link_to edit_post_path(post.id), class: "btn icon-t pull-right" do  %>
                    <i class="fas fa-edit mediumIcon mx-auto"></i>
                  <% end %>
                <% end %>
              <% end %>
              </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
