<div class="container">
  <div class="row d-flex justify-content-start bg-primary text-white rounded-lg">
    <div class="col-lg-12">
      <% renderer = Redcarpet::Render::HTML.new(no_links: true, hard_wrap: true) %>
      <% markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>
      <h1 class="p-2"><%= @post.name %></h1>
      <div class="p-2">
        <%= markdown.render(@post.body).html_safe %>
      </div>
      <p class="p-2 usernameSize">Publicado por <b><%= @post.user.email %></b> hace <b> <%= time_ago_in_words(@post.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>
    </div>
  </div>

  <p class="text-right p-2">
    <button type="button" class="btn btn-primary">
      <%= link_to "Volver", posts_path, class: "text-white" %>
    </button>
  </p>
</div>
<hr>

<div class="container">
  <h2>Comentarios</h2>
    <div class="jumbotron">
      <% if @comments.empty? %>
        <p>No hay comentarios en este post</p>
      <% else %>
        <% @comments.each do |comment| %>
          <div>
            <%= markdown.render(comment.body).html_safe %>
            <p class = "usernameSize" >Publicado por <b><%= comment.user.email %></b> hace <b> <%= time_ago_in_words(comment.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>
            <% if user_signed_in? %>
              <% if ( comment.user_id == current_user.id ) %>
                <p class="text-right"><%= link_to 'Eliminar Comentario', post_comment_path( @post, comment ), :method => :delete, :data => { :confirm => '¿Estás seguro?' } %> </p>
              <% end %>
            <% end %>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>

  <% if user_signed_in? %>
    <div class="form-group">
      <%= form_for([@post, @post.comments.build]) do |f| %>
        <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <p class="text-right">
          <%= f.submit 'Comentar', class: "btn btn-primary my-2"  %>
        </p>
    </div>
  <% end %>
</div>

<hr>

<div class="container">
  <div class="row">
  <h2> Respuestas </h2>
    <div class= "jumbotron col-lg-12">
      <% if @answers.empty?%>
        <p> No hay respuestas en este post </p>
      <% else %>
        <% @answers.each do |answer| %>
          <div class="col-lg-2 border rounded-lg justify-content-end align-content-center mr-auto border-primary">
            <p class="text-center">
            <% if answer.voted_by? current_user %>
              <%= link_to answer_vote_path( answer ), method: :delete, class: "" do %>
                <i class="fas fa-caret-down bigIcon mx-auto"></i>
              <% end %>
            <% else %>
              <%= link_to answer_vote_path( answer ), method: :post, class: "" do %>
                <i class="fas fa-caret-up bigIcon mx-auto"></i>
              <% end %>
            <% end %>
            <%= pluralize( answer.votes.size, 'Votos') %>
            </p>
          </div>

          <div class="col my-2">
            <%= markdown.render( answer.body ).html_safe %>
            <p class= "usernameSize text-right">Publicado por <b><%= answer.user.email %></b> hace <b> <%= time_ago_in_words(answer.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>
            <% if user_signed_in? %>
              <% if ( answer.user_id == current_user.id ) || @post.user_id == current_user.id %>
                <p><%= link_to 'Eliminar Respuesta', post_answer_path( @post, answer ), :method => :delete, :data => { :confirm => '¿Estás seguro?' } %> </p>
              <% end %>
            <% end %>

            <% answer.comments.each do |comment| %>
              <div>
              <%= markdown.render( comment.body ).html_safe %>
              <p class = "usernameSize text-right">Publicado por <b><%= comment.user.email %></b> hace <b> <%= time_ago_in_words(comment.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>
              <% if user_signed_in? %>
                <% if ( comment.user_id == current_user.id ) %>
                  <p class = "text-right">
                    <%= link_to 'Eliminar Comentario', answer_comment_path( answer, comment ), :method => :delete, :data => { :confirm => '¿Estás seguro?' } %>
                  </p>
                <% end %>
              <% end %>
              </div>
            <% end %>
          </div>

          <% if user_signed_in? %>
          <div class = "form-group">
            <%= form_for([ answer, answer.comments.build ]) do |f| %>
              <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario a la respuesta" %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <p class="text-right">
                <%= f.submit 'Comentar', class: "btn btn-primary my-2" %>
              </p>
          <% end %>
          </div>
          <% end %>
        <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<hr>

<div class = "container" >
  <h3>Responder a la pregunta</h3>
  <div class = "jumbotron">
    <% if user_signed_in? %>
      <%= form_for [ @post, @post.answers.build ] do |f| %>
        <div class = "form-group"><%= f.text_area :body, class: "form-control", placeholder: "Responde"%></div>
        <%= f.submit "Responder", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
