<div class="container">
  <div class="row d-flex justify-content-start bg-primary text-white">
    <div class="col-lg-12">
      <% renderer = Redcarpet::Render::HTML.new(no_links: true, hard_wrap: true) %>
      <% markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>
      <h1 class="p-2"><%= @post.name %></h1>
      <p class="p-2">Publicado por <b><%= @post.user.email %></b> hace <b> <%= time_ago_in_words(@post.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>
      <div class="p-2">
        <%= markdown.render(@post.body).html_safe %>
      </div>
    </div>
  </div>

  <p class="text-right p-2">
    <button type="button" class="btn btn-primary">
      <%= link_to "Volver", posts_path, class: "text-white" %>
    </button>
  </p>

    <div class="comment_section">
      <h2>Comentarios</h2>
      <% if @comments.empty? %>
        <p>No hay comentarios en este post</p>
      <% else %>
        <% @comments.each do |comment| %>
          <div class="comentario">
          <p>Publicado por <b><%= comment.user.email %></b> hace <b> <%= time_ago_in_words(comment.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>

          <%= markdown.render(comment.body).html_safe %>

          <% if user_signed_in? %>
            <% if ( comment.user_id == current_user.id ) %>
              <p><%= link_to 'Eliminar Comentario', post_comment_path( @post, comment ), :method => :delete, :data => { :confirm => '¿Estás seguro?' } %> </p>
            <% end %>
          <% end %>

          </div>
        <% end %>
      <% end %>

        <% if user_signed_in? %>
          <div class="">
          <h4>Agrega un comentario</h4>
          <%= form_for([@post, @post.comments.build]) do |f| %>
            <div>
              <%= f.text_area :body, class: "cuerpocoment" %>
            </div>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            <div>
              <%= f.submit 'Comentar', class: "btn btn-primary"  %>
            </div>
          <% end %>
          </div>

      </div>

      <div class="">
        <h2>Respuestas</h2>

        <% if @answers.empty?%>
          <p>No hay respuestas en este post</p>
        <% else %>
        <% @answers.each do |answer| %>

          <div class="comentario">
          <p>Publicado por <b><%= answer.user.email %></b> hace <b> <%= time_ago_in_words(answer.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>

          <%= markdown.render( answer.body ).html_safe %>
          <% if user_signed_in? %>
            <% if ( answer.user_id == current_user.id ) || @post.user_id == current_user.id %>
              <p><%= link_to 'Eliminar Respuesta', post_answer_path( @post, answer ), :method => :delete, :data => { :confirm => '¿Estás seguro?' } %> </p>
            <% end %>
          <% end %>
          </div>

          <div class="votes"><%= pluralize( answer.votes.size, 'Votos') %></div>
          <% if answer.voted_by? current_user %>
            <%= link_to answer_vote_path( answer ), method: :delete, class: "" do %>
              <span class="glyphicon glyphicon-arrow-down"></span>
            <% end %>
            <% else %>
            <%= link_to answer_vote_path( answer ), method: :post, class: "" do %>
              <span class="glyphicon glyphicon-arrow-up"></span>
            <% end %>
          <% end %>

            <% answer.comments.each do |comment| %>
              <div class="comentario">
              <p>Publicado por <b><%= comment.user.email %></b> hace <b> <%= time_ago_in_words(comment.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>

              <%= markdown.render( comment.body ).html_safe %>
              <% if user_signed_in? %>
                <% if ( comment.user_id == current_user.id ) %>
                  <p><%= link_to 'Eliminar Comentario', answer_comment_path( answer, comment ), :method => :delete, :data => { :confirm => '¿Estás seguro?' } %> </p>
                <% end %>
              <% end %>
              </div>
            <% end %>

          <% if user_signed_in? %>
            <div class="">
            <h4>Agrega un comentario a la respuesta</h4>
            <%= form_for([ answer, answer.comments.build ]) do |f| %>
              <div>
                <%= f.text_area :body, class: "cuerpocoment" %>
              </div>
                <%= f.hidden_field :user_id, :value => current_user.id %>
              <div>
                <%= f.submit 'Comentar', class: "btn btn-primary"  %>
              </div>
            <% end %>
            </div>
          <% end %>
        <% end %>
      <%end%>

      </div>

      <% end %>

      <div class="container">
        <h3>Responder a la pregunta</h3>
        <hr>
        <div class="jumbotron">
          <% if user_signed_in? %>

            <%= form_for [ @post, @post.answers.build ] do |f| %>
              <div class="form-group"><%= f.text_area :body, class: "form-control", placeholder: ""%></div>
              <%= f.submit "Responder", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
      </div>
</div>
